.card_details {
    width: 35rem;
    margin: 0 auto;
    border-width: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: transparent;
    @include media-breakpoint-down(sm) {
        width: 100%;
        
    }
}
.card_services {
    background-color: transparent;
    border-width: 0;
    width: 35rem;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}