doctype html
html
    head
        title Это тайтл 2
    body
        link(href="styles/main.css" rel="stylesheet" type="text/css")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        .div.border.border-danger.backus.d-flex.flex-column
                       
            nav.navbar.navbar-expand-lg.navbar-dark.p-0.my-navbar
                a.navbar-brand(href="#").bouncy BOUNCY
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navKakash" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse(id="navKakash")
                    ul.navbar-nav.my-menu
                        li.nav-item.active
                            a.nav-link.active(href="#") Hello
                        li.nav-item
                            a.nav-link(href="#") About
                        li.nav-item
                            a.nav-link(href="#") Services
                        li.nav-item
                            a.nav-link(href="#") Portfolio
                        li.nav-item
                            a.nav-link(href="#") Team
                        li.nav-item
                            a.nav-link(href="#") Blog
                        li.nav-item
                            a.nav-link(href="#") Contact
            //
            .container.border.border-warning.h-100.p-0
                .kokto.border.border-dark.h-100.d-flex.flex-column
                    .row.border.border-success.m-0.flex-grow-1
                        .col.border.border-warning.d-flex.align-items-center.justify-content-center
                            .zuza.border.border-success
                                h4.display-5.pupka WE ARE CODE CAFE
                                p.lead.my-lead At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    .row
                        .col
                            .arr.my-2 V
        .container.border.border-danger.p-0
            .card.w-100
                .row.m-0

                    .col-8.border.border-warning.pupa
                        .card-body.border.border-info
                            h5.card-title THIS IS BOUNCY
                            p.card-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                            a.btn.btn-primary(href="#") Read More
                    .col-4.border.border-dark
                        img.border.border-success(src="./img/IPAD.png" alt="kartinka" style="width: auto; max-height: 350px; max-width: 100%")
        div.dark-section
            .container.p-0
                .card.card_details
                    .card-body.d-flex.flex-column.align-items-center
                        .card-title DETAILS ABOUT BOUNCY
                        .card-text.text-center At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        
                    .d-flex.justify-content-center
                        .ellipse.ellipse_active
                            img(src="./img/details/heart.png" alt="Ellipst Img").ellipse__img
                        .ellipse
                            img(src="./img/details/mouse.png" alt="Mouse Img").ellipse__img
                        .ellipse
                            img(src="./img/details/light-bulb.png" alt="Light Bulb Img").ellipse__img
                .card.bg-transparent.border-0
                    .card-body
                        .h4 Creative Ideas
                        .row.m-0
                            p.col-xs-12.col-md-6 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                            p.col-xs-12.col-md-6 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <strong>corrupti quos</strong> dolores et quas molestias <strong>excepturi</strong> sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt millitia animi, id est laborum et dolorum fuga. Et harum quidem r
        
        .container.p-0
            .card
                .card-body
                    h4.card-title FEATURED PROJECTS
                    h5.card-subtitle At vero eos et accusamus et iusto odi dignissimos ducimus qui blanditiis praesentium
            .row.m-0.border.border-info
                .col-12.col-lg-6.border-danger.p-0(style="min-height: 260px")
                    div.whiskey
                .col-6.col-lg-3.border.border-success.p-0(style="min-height: 260px")
                    div.vintage
                        div.border.border-primary.w-100.h-100.tile VINTAGE
                .col-6.col-lg-3.branding.p-0(style="min-height: 260px")
                    .tile2 BRANDING
            div.border.border-success.fp-footer
                .row.m-0(style="background-color: rgba(25, 189, 154, .5)").h-100
                    .col-9.border.border-danger.d-flex.justify-content-center.align-items-center
                        p(style="font-size: 1.3rem") At vero eos et <strong>accusamus</strong> et iusto odio dignissimos ducimus qui blanditiis
                    .col-3.p-0.d-flex.justify-content-center.align-items-center
                        button Submit Now
        //
            div.border.border-danger.duba
                div.border.border-warning(style="flex-grow: 2") kaka
                div.border.border-success.flex-grow-1(style="") daka




    

    script(src="scripts/result.js")
