doctype html
html
    head
        title Это тайтл 2
    body
        link(href="styles/main.css" rel="stylesheet" type="text/css")
        //
            div.border.border-primary.d-flex.justify-content-center.flex-column.w-100(style="position: absolute")
                p.border.border-secondary Это обычный текст5
                p другой текст
        //script(src="popper.js")
        div.border.border-primary.ruka(style="width: 36px; height: 36px; background-image: url('./img/hello/ellipse.png'); background-size: cover") V
        

        .container-fluid.p-0.border.border-primary
            .row
                .col-12
                    div.d-flex.flex-column.h-100.w-100.justify-content-end.align-items-center.pb-5(style="position: absolute; z-index: 11")
                        a.arrow-down.d-flex.justify-content-center.align-items-center.text-light(style="") V
                    
                            //img(src="./img/hello/ellipse.png" alt="Ellipse")
                        
                    .carousel.slide#carouselBeach.d-flex.flex-row.justify-content-center(data-ride="carousel")
                        .container.kakasha
                            .row
                                .col-4
                                    h4.my-h4.text-light bouncy
                                .col-8.border.border-primary.pr-5
                                    ul.nav.nav-fill.text-light
                                        li.nav-item
                                            a.nav-link.active(href="#" style="") Hello
                                        li.nav-item
                                            a.nav-link(href="#") About
                                        li.nav-item
                                            a.nav-link(href="#") Services
                                        li.nav-item
                                            a.nav-link(href="#") Portfolio
                                        li.nav-item
                                            a.nav-link(href="#") Team
                                        li.nav-item
                                            a.nav-link(href="#") Blog
                                        li.nav-item
                                            a.nav-link(href="#") Contact
                        
                        .carousel-inner
                            .carousel-item.active.border.border-warning
                                //p просто текст

                                img.d-block.w-100(src="./img/carousel/beach.jpg" alt="Первая картинка")
                                

                                .my-carousel-caption-2.d-flex.flex-column.justify-content-center.align-items-center.border.border-danger
                                    .container.border.border-warning
                                        h3.kukla We are code safe
                                        p.mukla At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                
                            //.carousel-item
                            //   img.d-block.w-100(src="./img/carousel/beach2.jpg" alt="Вторая картинка")
            .row
                .col-12
                
                    .container
                        .row
                            .col-7.border.border-danger.d-flex.justify-content-end
                                .card.w-75
                                    .card-body
                                        h5.card-title.text-uppercase This is bouncy
                                        p.card-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                                        a.card-link.border.border-dark.text-dark.px-5.py-2.my-rounded(href="#" style="") Read More
                            .col-5.border.border-success
                                .card.mx-auto(style="width: 215px")
                                    .card-body
                                        img.card-img-top.w-100(src="./img/IPAD.png" alt="IPAD")
        button.btn.btn-karka.border.border-danger(style="") говняшка
        p.doroga zazaza bub bura
        span.suka Это текст из суки
                    


                        

    script(src="scripts/result.js")
