doctype html
html
    head
        title Это тайтл 2
    body
        link(href="styles/main.css" rel="stylesheet" type="text/css")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        .div.border.border-danger.backus.d-flex.flex-column
                       
            nav.navbar.navbar-expand-lg.navbar-dark.p-0.my-navbar
                a.navbar-brand(href="#").bouncy BOUNCY
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navKakash" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse(id="navKakash")
                    ul.navbar-nav.my-menu
                        li.nav-item.active
                            a.nav-link.active(href="#") Hello
                        li.nav-item
                            a.nav-link(href="#") About
                        li.nav-item
                            a.nav-link(href="#") Services
                        li.nav-item
                            a.nav-link(href="#") Portfolio
                        li.nav-item
                            a.nav-link(href="#") Team
                        li.nav-item
                            a.nav-link(href="#") Blog
                        li.nav-item
                            a.nav-link(href="#") Contact
            //
            .container.border.border-warning.h-100.p-0
                .kokto.border.border-dark.h-100.d-flex.flex-column
                    .row.border.border-success.m-0.flex-grow-1
                        .col.border.border-warning.d-flex.align-items-center.justify-content-center
                            .zuza.border.border-success
                                h4.display-5 WE ARE CODE CAFE
                                p.lead At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    .row
                        .col
                            .arr.my-2 V
        .container.border.border-danger.p-0
            .card.w-100
                .row.m-0

                    .col-8.border.border-warning
                        .card-body
                            h5.card-title THIS IS BOUNCY
                            p.card-text.pupa Some quick example text to build
                            a.btn.btn-primary(href="#") Read More
                    .col-4.border.border-dark.p-0
                        img.card-img.border.border-success(src="./img/IPAD.png" alt="kartinka")




        //
            div.border.border-danger.duba
                div.border.border-warning(style="flex-grow: 2") kaka
                div.border.border-success.flex-grow-1(style="") daka



    

    script(src="scripts/result.js")
