@font-face {
    font-family: "Source Sans Pro Light";
    src: url("./fonts/sourcesansprolight.woff2") format("woff2");
}
@font-face {
    font-family: "Big John";
    src: url("./fonts/BigJohnPRO-Bold.woff2") format("woff2");
}