html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Source Sans Pro Light"
}
.pupa {
    //font-family: "Source Sans Pro Light";
}

.backus {
    height: 100%;
    background-image: url("./../img/carousel/beach.jpg");
    background-position-x: 36%;
    background-repeat: no-repeat;
    background-size: cover;
}
.duba {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.my-navbar {
    width: 80%;
    align-self: center;
    @media(max-width: 1199px) {
        width: 85%
    }
}
.my-menu {
    margin-left: auto;
}
.zuza {
    color: white;
    text-align: center;
    @media(max-width: 1199px) {
        
    }
}