html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Source Sans Pro Light";
    box-sizing: border-box;
}
.pupa {
    //font-family: "Source Sans Pro Light";
}

.backus {
    height: 100%;
    background-image: url("./../img/carousel/beach.jpg");
    background-position-x: 36%;
    background-repeat: no-repeat;
    background-size: cover;
}
.duba {

    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}
    //background-color: $gray-200;
    //background-color: rgb(25, 189, 154) - cyan;
    // Cyan Dark: rgb(4, 115, 120)
.dark-section {
    background-color: rgb(243, 243, 243);
}
//featured projects
.whiskey {
    width: 100%;
    height: 100%;
    background-image: url("./../img/featured-projects/whiskey.jpg");
    background-size: cover;
}
.vintage {
    width: 100%;
    height: 100%;
    background-image: url("./../img/featured-projects/vintage.jpg");
    backdrop-filter: grayscale(30%);
    background-size: cover;
 
    color: white;
    
}
.branding {
    
   
    background-image: url("./../img/featured-projects/branding.jpg");
    background-size: cover;
    color: white;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .4rem;
    background-color: rgba(0, 0, 0, .8);
}
.tile2 {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .4rem;
}
.fp-footer {
    background-image: url("./../img/featured-projects/legs0.jpg");
    background-size: cover;
    //min-height: 90px;
    height: 90px;
    color: white;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
        height: 110px;
    }
}
// feature projects end

.pupa {
    padding: 0 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include media-breakpoint-down(lg) {
        padding: 0 5rem;
    }
    @include media-breakpoint-down(md) {
        padding: 0 2rem;
    }
    @include media-breakpoint-down(sm) {
        padding: 0 1rem;
    }

}


.my-navbar {
    width: 80%;
    align-self: center;
    @media(max-width: 1199px) {
        width: 85%
    }
}
.my-menu {
    margin-left: auto;
}
.zuza {
    color: white;
    text-align: center;
    @media(max-width: 1199px) {
        
    }
}
.my-lead {
    $lead-lg: $font-size-base * 1.2;
    $lead-md: $font-size-base * 1.15;
    $lead-sm: $font-size-base * 1.1;
    @include media-breakpoint-down(lg) {
        font-size: $lead-lg;
    }
    @include media-breakpoint-down(md) {
        font-size: $lead-md;
    }
    @include media-breakpoint-down(sm) {
        font-size: $lead-sm;
    }
    
}
