$body-bg:                   white;
//carousel caption
$carousel-caption-width:             70%;
$carousel-caption-color:             white;

$nav-link-padding-y: .2rem;
$nav-link-padding-x: 1rem;
$pruha: rgb(169, 151, 172);
$colors: (
  "pruha": $pruha
);
$dermo: $pruha;
$theme-colors: (
    "gray-100": #f8f9fa,
    "dermo":  $dermo,
    "dermo2": rgb(127, 128, 77),
    "karka": rgb(59, 87, 68),
    "info": #17a2b8
);

$link-color: #f8f9fa;
//$border-width: 10px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

.my-rounded {
  border-radius: 1rem
}

// Typography
$display5-size:               2.5rem;
$display6-size:               2rem;
$display5-weight:             300;
$display6-weight:             300;







  